# OS

.DS_Store
Thumbs.db

# Python

__pycache__/
*.pyc
*.pyo
*.pyd
*.so

# Virtual Environment

.venv/
venv/
env/
ENV/

# Jupyter Notebook

.ipynb_checkpoints/

# Logs

logs/
*.log


# Data Files 

data/
DATA/
datasets/

*.csv
*.tsv
*.parquet
*.feather
*.pkl
*.pickle
*.joblib
*.npz
*.npy

# ML Model Files

models/
checkpoints/
artifacts/

*.pt
*.pth
*.ckpt
*.h5
*.onnx
*.model

# Experiment Tracking

mlruns/
wandb/
lightning_logs/
tensorboard_logs/

# Cache / Temp

.cache/
tmp/
temp/

# IDE

.vscode/
.idea/

# Docker

*.tar
*.tar.gz

# Airflow

airflow/logs/
airflow/airflow.db

# AWS / Credentials

.env
*.pem
*.key